@using static System.Linq.Enumerable;
@inject GamePlayer game

@code {
  protected override void OnInitialized()
  {
    Action refreshFromAnotherThread = () => this.InvokeAsync(this.StateHasChanged);
    game.Rover.OnPositionChanged += refreshFromAnotherThread;
  }
  public async Task CalculatePath()
  {
    System.Console.WriteLine("Started Path Calculation");
    game.Rover.CalculateDetailedPath();
    System.Console.WriteLine("Ended Path Calculation");
  }

  public void OptimiseGrid()
  {
    System.Console.WriteLine("Started Grid Optimization");
    game.Rover.OptimizeGrid();
    System.Console.WriteLine("Ended Grid Optimization");
  }
  private bool stepInProgress { get; set; } = false;
  public async Task TakeStep()
  {
    stepInProgress = true;
    try
    {
      System.Console.WriteLine("Started Following Path");
      await game.Rover.Take1Step();
      System.Console.WriteLine("Ended Following Path");
    }
    catch (Exception e)
    {

      System.Console.WriteLine(e);
      System.Console.WriteLine("Error Following Path");
    }
    finally
    {
      stepInProgress = false;
    }
    CalculatePath();
  }
  public async Task Go()
  {
    await game.PlayGame();
  }
  public string classStyle = " m-5 ";
}

<div>

  <button class="@(Styles.Btn) m-3" @onclick="OptimiseGrid">Optimize Grid</button>
  <button class="@(Styles.Btn) m-3" @onclick="CalculatePath">Calculate Path</button>
  <button class="@(Styles.Btn) m-3" @onclick="TakeStep" disabled="@stepInProgress">Take Step</button>
  <button class="@(Styles.Btn) m-3" @onclick="Go">Follow Path</button>

  <div class="flex">
    <div class="@classStyle">Initial Path Cost: @game.Rover.StartingPathCost</div>
    <div class="@classStyle">History and Remaining Cost: @game.Rover.TotalProjectedCost</div>
  </div>
  <div class="flex">
    @if (game.Rover.Path != null)
    {

      @* <div class="text-sm">Path Length: @game.Path.Count()</div> *@
      <div class="@classStyle">Path Cost: @game.Map.CalculatePathCost(game.Rover.Path)</div>
      <div class="@classStyle">Battery: @game.Rover.Battery</div>
      <div class="@classStyle">Path Calulation Time: @game.Rover.LastPathCalulationTime ms</div>
      <div class="@classStyle">Grid Optmization Time: @game.Rover.LastGridOptimizationTime ms</div>
    }
  </div>
</div>