@inject GamePlayer game

@code {
  public async Task CalculatePath()
  {
    System.Console.WriteLine("Started Path Calculation");
    game.CalculateDetailedPath();
    System.Console.WriteLine("Ended Path Calculation");
  }

  public void OptimiseGrid()
  {
    System.Console.WriteLine("Started Grid Optimization");
    game.OptimizeGrid();
    System.Console.WriteLine("Ended Grid Optimization");
  }

  public async Task FollowPath()
  {
    System.Console.WriteLine("Started Following Path");
    await game.FollowPath();
    System.Console.WriteLine("Ended Following Path");
  }
}

<div>

  <button class="@(Styles.Btn) m-3" @onclick="OptimiseGrid">Optimise Grid</button>
  <button class="@(Styles.Btn) m-3" @onclick="CalculatePath">Calculate Path</button>
  <button class="@(Styles.Btn) m-3" @onclick="FollowPath">Follow Path</button>

  @if (game.Path != null)
  {
    <div class="text-sm">

      Path Steps: @game.Path.Count()
    </div>
    <div>
    Path Cost: @game.Map.CalculatePathCost(game.Path)
  </div>
    <div>
    Battery: @game.Battery
  </div>
  }
</div>