@using static System.Linq.Enumerable;
@inject GamePlayer game

@code {
  protected override void OnInitialized()
  {
    Action refreshFromAnotherThread = () => this.InvokeAsync(this.StateHasChanged);
    game.Rover.OnPositionChanged += refreshFromAnotherThread;
    game.Map.OnMapUpdated += refreshFromAnotherThread;
    game.Verbose = false;
  }
  public void OptimiseGrid()
  {
    System.Console.WriteLine("Started Grid Optimization");
    game.Rover.OptimizeGrid(reset: true);
    System.Console.WriteLine("Ended Grid Optimization");
  }

  public void PlayCopter()
  {
    System.Console.WriteLine("Playing copter");
    game.PlayCopter();
  }

  public void PlayRover()
  {
    System.Console.WriteLine("Starting to play game");
    game.PlayRover();

  }

  public void PlayGame()
  {
    game.PlayGame();
  }

  public void ActivateTurbo()
  {
    System.Console.WriteLine("activated user turbo");
    game.UserTurbo = true;
  }
  public void DeactivateTurbo()
  {
    System.Console.WriteLine("stopping user turbo");
    game.UserTurbo = false;
    game.Turbo = false;
  }
  public string classStyle = " m-5 ";
}

<div>

  <button class="@(Styles.Btn) m-3" @onclick="OptimiseGrid">Optimize Grid</button>
  <button class="@(Styles.Btn) m-3" @onclick="PlayCopter">Play Copter</button>
  <button class="@(Styles.Btn) m-3" @onclick="PlayRover">Follow Path</button>
  <button class="@(Styles.Btn) m-3" @onclick="PlayGame" disabled="@game.Playing">Play Game</button>
  <button class="@(Styles.Btn) m-3" @onclick="ActivateTurbo" disabled="@(game.Turbo || !game.Playing)">Turbo</button>
  <button class="@(Styles.Btn) m-3" @onclick="DeactivateTurbo" disabled="@(!game.Turbo || !game.Playing)">Stop
    Turbo</button>

  <div class="flex">
    <div class="@classStyle">Initial Path Cost: @game.Rover.StartingPathCost</div>
    <div class="@classStyle">History and Remaining Cost: @game.Rover.TotalProjectedCost</div>
    @* @foreach (var copter in game.Copters)
    {
    <div class="@classStyle">Copter Battery: @copter.Battery</div>
    } *@
  </div>
  <div class="flex">
    @if (game.Rover.Path != null)
    {
      <div class="@classStyle">Path Cost: @game.Map.CalculatePathCost(game.Rover.Path, game.Rover.CurrentLocation)</div>
      <div class="@classStyle">Battery: @game.Rover.Battery</div>
      <div class="@classStyle">Path Calulation Time: @game.Rover.LastPathCalulationTime ms</div>
      <div class="@classStyle">Grid Optmization Time: @game.Rover.LastGridOptimizationTime ms</div>
      <div class="@classStyle">Last Move Time: @game.LastMoveTime ms</div>
      <div class="@classStyle">Request Time: @game.RequestTime ms</div>
    }
  </div>
</div>