@inject GamePlayer game

@code {
  public async Task CalculatePath()
  {
    System.Console.WriteLine("Started Path Calculation");
    game.CalculateDetailedPath();
    System.Console.WriteLine("Ended Path Calculation");
  }

  public void OptimiseGrid()
  {
    System.Console.WriteLine("Started Grid Optimization");
    game.OptimizeGrid();
    System.Console.WriteLine("Ended Grid Optimization");
  }
}

<div>
  <button class="@(Styles.Btn) m-3" onclick="@OptimiseGrid">Optimise Grid</button>
  <button class="@(Styles.Btn) m-3" onclick="@CalculatePath">Calculate Path</button>

  @if (game.Path != null)
  {
    <div class="text-sm">

      @foreach (var location in game.Path)
      {
        <div>@location</div>
      }
    </div>
  }
</div>